@tailwind base;

@layer components {
  .header {
    @apply flex flex-col grid-rows-3 gap-5 bg-cyan-500 min-h-mobileHeader md:min-h-header px-5 items-center justify-center text-center md:flex-row md:grid-cols-3;
  }

  .title {
    @apply flex-none text-5xl text-white font-medium md:tracking-tight md:text-right md:basis-1/4;
  }
}

@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
